{% extends 'mail_messages/base.html' %}
{% block title %}Детали рассылки{% endblock %}
{% block content %}
{% include 'mail_messages/header.html' %}
<h1>{{ object.name }}</h1>
<p>Описание: {{ object.description }}</p>
<p>Статус: {{ object.status }}</p>
<a class="btn btn-warning" href="{% url 'mail_messages:update_mailing' object.id %}">Редактировать</a>
<a class="btn btn-danger" href="{% url 'mail_messages:delete_mailing' object.id %}">Удалить</a>
<a class="btn btn-secondary" href="{% url 'mail_messages:list_mailing' %}">Назад</a>
{% endblock %}
