<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'mail_messages:list_email' %}">Mail Project</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{% url 'mail_messages:list_email' %}">Emails</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'mail_messages:list_mailing' %}">Mailings</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'mail_messages:list_mail_recipient' %}">Recipients</a></li>
    </ul>
  </div>
</nav>
