{% extends 'mail_messages/base.html' %}
{% block title %}Список получателей{% endblock %}
{% block content %}
{% include 'mail_messages/header.html' %}
<div class="container">
    <h2>Список получателей</h2>
    <a class="btn btn-primary mb-3" href="{% url 'mail_recipients:create_mail_recipient' %}">Создать нового</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects_list %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.name }}</td>
                <td>{{ object.email }}</td>
                <td>{{ object.phone_number }}</td>
                <td>
                    <a class="btn btn-sm btn-info" href="{% url 'mail_recipients:detail_mail_recipient' object.id %}">Просмотр</a>
                    <a class="btn btn-sm btn-warning" href="{% url 'mail_recipients:update_mail_recipient' object.id %}">Редактировать</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'mail_recipients:delete_mail_recipient' object.id %}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}